body {
    margin: 0;
    background-color: #f2e9d6;
    font-family: 'Rubik Bubbles', cursive;
    color: #921537;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* centrér toppen, ikke midten */
    min-height: 100vh;       /* fyld hele skærmhøjde */
  }
  
  .container {
    text-align: center;
    margin-top: 10rem;
    gap: 2rem;
  }
 
  .tak {
    font-size: 5rem;
    margin-bottom: 4rem;
  }
  
  .ikoner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  
  .ikoner img {
    width: 150px;
    object-fit: contain;
    display: block;
}
  
  .personer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10rem; /* ← her rykker du dem nedad */
    gap: 4rem;
  }
  
  .personer img {
    width: 210px;
    height: auto;
    display: block;
  }