
body {
    margin: 0;
    background-color: #f2e9d6;
    font-family: 'Rubik Bubbles', cursive;
    color: #921537;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .container {
    text-align: center;
  }
 
  .tak {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  
  .ikoner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-bottom: 5rem;
    padding: 0 2rem;
  }
  
  .ikoner img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
  }
  
  .personer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: -6rem;
  }
  
  .personer img {
    width: 140px;
    height: auto;
    display: block;
  }