@font-face {
    font-family: 'MyFont';
    src: url('fonts/dingos.ttf') format('truetype');
  }
  

body {
    margin: 0;
    background-color: #f2e9d6;
    color: #741936;
  }
  
  .timeline-container {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-family: 'Rubik Bubbles', cursive;
  }
  
  h2 {
    font-family: 'dingos', sans-serif;
  }

  p {
    font-family: 'Open Sans', cursive;
  }

  .timeline-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #741936;
    padding: 1.5rem 0;
    flex-wrap: wrap;
  }
  
  .timeline-row:last-child {
    border-bottom: 2px solid #741936;
  }
  
  .timeline-row .text {
    flex: 1;
    min-width: 250px;
  }

  #krokodille {
    position: absolute;
    top: 14px;
    left: 790px;
    transform: rotate(7.5deg);
    width: 500px;
  }
  #krokodille:hover {
    transform: rotate(7.5deg) scale(1.1);
  }
  
  #blomst {
    position: absolute;
    top: 255px;
    left: 660px;
    width: 16%;
  }

  #urter {
    position: absolute;
    top: 270px;
    left: 830px;
    width: 10%;
  }

  #stofpose {
    position: absolute;
    top: 330px;
    left: 980px;
    width: 14%;
  }

  #kondom {
    position: absolute;
    top: 490px;
    left: 780px;
    width: 12%;
  }

  #skyl {
    position: absolute;
    top: 490px;
    left: 1100px;
    width: 12%;
  }

  #spiral {
    position: absolute;
    top: 710px;
    left: 660px;
    width: 5%;
    transform: rotate(-25deg);
  }
  #spiral:hover {
    transform: rotate(-25deg) scale(1.1);
  }

  #pessar {
    position: absolute;
    top: 600px;
    left: 950px;
    width: 10%;
  }

  #pille1 {
    position: absolute;
    top: 880px;
    left: 630px;
    width: 3%;
    transform: rotate(85deg);
  }
  #pille1:hover {
    transform: rotate(85deg) scale(1.1);
  }

  #ppille {
    position: absolute;
    top: 720px;
    left: 730px;
    width: 11%;
  }

  #pille2 {
    position: absolute;
    top: 820px;
    left: 1030px;
    width: 3%;
  }

  #pille3 {
    position: absolute;
    top: 980px;
    left: 800px;
    width: 3%;
  }

  #telefon {
    position: absolute;
    top: 870px;
    left: 880px;
    width: 14%;
  }

  #globus {
    position: absolute;
    top: 800px;
    left: 1070px;
    width: 18%;
  }



  .image-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    padding-top: 60px;
  }
  
  .image-popup img {
    max-width: 100%;
    max-height: 90%;
    border-radius: 10px;
    background-color: transparent;
    transform: scale(1.25);
    
  }
  
  .image-popup .close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
  }
  
  .popup-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 2rem;
  }
  
  .nav-btn {
    width: 60px;
    cursor: pointer;
  }
  


  .close-img {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 40px; 
    cursor: pointer;
    z-index: 1001;
    transition: transform 0.2s ease;
  }
  
  .close-img:hover {
    transform: scale(1.1);
  }
  
  
  .page-close {
    position: fixed;
    top: 20px;
    right: 1300px;
    z-index: 1001;
  }
  
  .hidden {
    display: none;
  }




  .hover-img {
    transition: transform 0.3s ease;
    display: inline-block;
  }
  
  .hover-img:hover {
    transform: scale(1.1);
  }
  